.menu {
    text-align: left;
    z-index: 1000;
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    /*display: inline-block;*/
    padding: 10px;
    background: #fff;
    margin: 2px;
}

#logo {
    width: 200px;
}

/* NOTE: https://thornelabs.net/2014/11/30/centering-images-with-jekyll-and-markdown.html */
.center-image {
    margin: 0 auto;
    display: block;
}

.sidebar {
  margin-bottom: 5px;
}

.random-highlight td {
  border-bottom: 1px solid #fff !important;
}

#gallery_table table, table tr, table tr th, table tr td {
  text-align: center;
  background: none;
  border: none;
}

img.gallery_thumbnail {
  height: 140px;
  border: 2px solid gray;
  border-radius: 4px;
}

p.gallery_image_title {
  text-align: center;
  font-size: x-small;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

th.gallery_column {
  width: 210px;
  text-align: center;
  padding: 6px; 
}
