<header>
  <!-- <h1>{{ site.project_name }}</h1>-->

  <a href="{{site.baseurl}}"><img id="logo" src="{{site.baseurl}}/images/SBGN-logo-WhiteBackground-1024.png" /></a>

  <!--<p>{{ site.description }}</p>-->
  
  <br />
  <br />
  <br />

  <!--<p class="view"><a href="{{ site.repository_url }}">View the Project on GitHub <small>{{ site.repository_shorthand }}</small></a></p>-->

  
  <!--
  <div class="pages">
    {% for item in site.data.menu.items %}
    <p class="view sidebar"><a href="{{ item[1] | prepend: site.baseurl }}">{{ item[0] }}</a></p>
    {% endfor %}
    <p class="view sidebar"><a href="https://github.com/sbgn/sbgn/wiki">SBGN Development</a></p>
  </div>
  -->
  
  <div class="pages">
  <p class="view sidebar"><a href="/sbgn/about">ABOUT</a></p>
  <p class="view sidebar"><a href="/sbgn/specifications">SPECIFICATIONS</a></p>
  <p class="view sidebar"><a href="/sbgn/software_support">SOFTWARE SUPPORT</a></p>
  <p class="view sidebar"><a href="/sbgn/publications">PUBLICATIONS</a></p>
  <p class="view sidebar"><a href="/sbgn/events">EVENTS</a></p>
  <p class="view sidebar"><a href="/sbgn/faqs">FAQ</a></p>
  <p class="view sidebar"><a href="/sbgn/contact">CONTACT</a></p>
  <br />
  <p class="view sidebar"><a href="/sbgn/learn_to_use_sbgn">Learn to Use SBGN</a></p>
  <p class="view sidebar"><a href="/sbgn/symbols">Symbol Highlights</a></p>
  <p class="view sidebar"><a href="/sbgn/templates">Templates</a></p>
  <p class="view sidebar"><a href="/sbgn/examples">Example Diagrams</a></p>
  <p class="view sidebar"><a href="/sbgn/competition">Competition</a></p>
  <br />
  <p class="view sidebar"><a href="/sbgn/contribute">Contribute</a></p>
  <p class="view sidebar"><a href="https://github.com/sbgn/sbgn/wiki">SBGN Development</a></p>
  </div>
  
  <!--
  <ul>
    <li><a href="{{ site.repository_url }}/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="{{ site.repository_url }}/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="{{ site.repository_url }}">Fork On <strong>GitHub</strong></a></li>
  </ul>
  -->
</header>
